.navigation{
    margin: 0 auto;
}
.login-button, .register-button{
    border: none;
    font-size: .75em;
}
.login-button{
    border-right: 1px solid #e6e6e6;
}
.login-button:hover, .register-button:hover {
    color: blue;
}
.home-header{
    text-align: center;
}
.home-title{
    margin-bottom: 0px;
}
.home-subtitle{
    margin-top: 5px;
    margin-bottom: 120px;
}

.about-section{
    width: 50%;
    margin: 0px 0px 0px 50px;
}