.home-header{
    text-align: center;
}
.home-title{
    margin-bottom: 0px;
}
.home-subtitle{
    margin-top: 5px;
    margin-bottom: 120px;
}

.about-section{
    width: 50%;
    margin: 0px 0px 0px 50px;
}